:root {
  --color-light-purple: #E8D6FF;
  --color-light-green: #D6FFF8;
  --color-green: #ADFFF1;
  --color-purple: #D1ADFF;
  --color-dark-green: #34FFDD;
  --color-dark-purple: #8C34FF;
}

body {
  margin: 0;
  font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 100px auto;
}

table {
  width: 480px;
  height: 480px;

  margin: 0 auto;
  border-collapse: collapse;
  border: none;
  box-sizing: content-box;
  border-spacing: 0;
  table-layout: fixed;
}

table td {
  position: relative;
  border: 1px solid #000;
}

table td:first-of-type {
  border-left: 1px solid #FFF;
}

table td:last-of-type {
  border-right: 1px solid #FFF;
}

table tr:first-of-type td {
  border-top: 1px solid #FFF;
}

table tr:last-of-type td {
  border-bottom: 1px solid #FFF;
}

table td::before {
  content: attr(data-num);
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 3px;
  left: 3px;
}

table td::after {
  content: attr(data-val);
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table td.black {
  background-color: #000;
}

table td.focus-both {
  background: linear-gradient(45deg, var(--color-light-purple) 0%, var(--color-light-purple) 50%, var(--color-light-green) 50%, var(--color-light-green) 100%);
}

table td.focus-column {
  background-color: var(--color-light-purple);
}

table td.focus-row {
  background-color: var(--color-light-green);
}

table td[data-num] {
  cursor: pointer;
}

.crossword-wrapper {
  position: relative;
}

.frame {
  position: absolute;
  width: 480px;
  height: 480px;
  border: 2px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
}

.question-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.question-list > div {
  max-width: 480px;
  min-width: calc((100% - 40px) / 2);
  cursor: pointer;
  margin: 30px 0 0;
}

.question-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #FFF;
  padding-right: 60px;
  position: relative;
}

.question-tile::before {
  content: "";
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--button-color);
  z-index: 1;
  transition: .2s;
}

.question-tile::after {
  content: url(../img/arrow.svg);
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 2;
  transition: .2s;
}

.question-tile:hover::before {
  animation-name: question-tile;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes question-tile {
  0% {
    width: 40px;
  }
  40% {
    width: 40px;
  }
  100% {
    width: 100%;
  }
}

.question-tile:hover::after {
  right: 12px;
}

.question-tile > span {
  padding: 0 20px;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.question-tile > div {
  padding: 5px 0 0;
  width: 100%;
  text-align: justify;
  position: relative;
  z-index: 3;
}

.key-row > p {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-dark-green);
}

.key-column > p {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-dark-purple);
}

.active-question > div {
  max-width: 420px;
  margin: 0 auto;
  cursor: pointer;
}

.active-question .key-row,
.active-question .key-column {
  margin-top: 0;
}

.key-row .question-tile,
.question-tile.key-row{
  --button-color: var(--color-green);
  background-color: var(--color-light-green);
}

.key-column .question-tile,
.question-tile.key-column {
  --button-color: var(--color-purple);
  background-color: var(--color-light-purple);
}

div.keyword {
  text-align: right;
}

div.keyword span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 3px 0 0 5px;
  background-color: #FFF;
  position: relative;
}

div.keyword span[data-type="const"] {
  background: none;
}

div.keyword span::before {
  content: attr(data-val);
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .2);
}

.input-window {
  max-width: 480px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-light-green);
  text-align: right;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-window.key-column {
  background-color: var(--color-light-purple);
}

.input-window > span {
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
}

.input-window .question {
  display: flex;
}

.input-window .question span {
  padding: 0 20px;
  font-weight: bold;
}

.input-window .question div {
  padding-right: 20px;
  text-align: justify;
}

.input-window .entry-field {
  margin: 40px 0;
  text-align: center;
}

.input-window .entry-field input::placeholder {
  color: rgba(0, 0, 0, .15);
}

.input-window .entry-field span,
.input-window .entry-field input:not([type="submit"]) {
  width: 50px;
  height: 70px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin: 0 5px;
}

.input-window .entry-field input:not([type="submit"]) {
  font-size: 36px;
  border-radius: 5px;
  width: 60%;
  border: none;
  appearance: none;
  outline: none;
}

.input-window input[type="text"] {
  letter-spacing: .3em;
  text-indent: .3em;
}

.input-window input[type="submit"] {
  height: 60px;
  width: 100%;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: var(--color-green);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.input-window.key-column input[type="submit"] {
  background-color: var(--color-purple);
}

input[type="submit"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus {
  outline-offset: -2px;
}

@media screen and (max-width: 1000px) {
  .question-list {
    flex-direction: column;
  }

  .question-list > div {
    margin: 30px auto 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  table td::before {
    font-size: 12px;
    top: 0;
  }

  table td::after {
    font-size: 26px;
  }

  .input-window {
    width: 100%;
    bottom: 0;
    top: auto;
    transform: translate(-50%, 0);
    border-radius: 10px 10px 0 0;

    animation: input-window-open;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }

  .input-window .entry-field input:not([type="submit"]) {
    font-size: 28px;
    height: 55px;
  }

  @keyframes input-window-open {
    0% {
      transform: translate(-50%, 10%);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .question-tile > div {
    font-size: 14px;
  }

  .question-tile:hover::before {
    animation: none;
  }

  .question-tile:hover::after {
    right: 16px;
  }
}